.red-back{
    
    height: 100vh;
    
    
}
.yellow-back{
       background-color: yellow;
       height: 100vh;
    }
.fullCover{
    margin: 0 !important;
    padding: 0 !important ;
    
}
.container.alpha{
    width: 100vw;
}
.row.alpha{
    width: 100vw;
}
.hidden{
    overflow-x: scroll;
}
.beta{
    width: 100%;
}
.beta1{
    width: 90%;
    
}
.round{
    border-radius: 50px !important;
}
.bg-info{
    background: linear-gradient(rgba(255, 255, 255,.5),rgba(255, 255, 255,.5));
    background: -webkit-linear-gradient(rgba(255, 255, 255,.5),rgba(255, 255, 255,.5));
    background: -o-linear-gradient(rgba(255, 255, 255,.5),rgba(255, 255, 255,.5));
}
.Awrt{
    font-size: 1.5vw;
    font-weight: bold;
}
.Awrt1{
    font-size: 1.9vw;
    font-weight: bold;
}