.red-back{
    
    height: 100vh;
    
    
}
.yellow-back{
       background-color: yellow;
       height: 100vh;
    }
.fullCover{
    margin: 0 !important;
    padding: 0 !important ;
    
}
.container.alpha{
    width: 100vw;
}
.row.alpha{
    width: 100vw;
}
.hidden{
    overflow-x: scroll;
}
.beta{
    width: 100%;
}
.beta1{
    width: 90%;
    
}
Awrt{
    
}