
.red-back{
    
    height: 100vh;
    background: white;
    
}
.yellow-back{
       background-color: yellow;
       height: 100vh;
    }
.fullCover{
    margin: 0 !important;
    padding: 0 !important ;
    font-family: 'Muli', sans-serif !important;
}
.onepiece{
    font-size: 12px !important;
}
.onepiece1{
    font-size: 12px !important;
}
.sailormoon1, .onepiece1{
    font-weight: bold !important;
    font-family: 'Indie Flower', cursive !important;
}
.container.alpha{
    width: 100vw;
}
.row.alpha{
    width: 100vw;
}
.hidden{
    
    overflow: hidden;
}
.beta1{
    width: 90%;
    
}
.round{
    border-radius: 50px !important;
}
.bg-info{
    background: linear-gradient(rgba(255, 255, 255,.5),rgba(255, 255, 255,.5));
    background: -webkit-linear-gradient(rgba(255, 255, 255,.5),rgba(255, 255, 255,.5));
    background: -o-linear-gradient(rgba(255, 255, 255,.5),rgba(255, 255, 255,.5));
}
.Awrt{
    font-size: 1.5vw;
    font-weight: bold;
}
.Awrt1{
    font-size: 1.9vw;
    font-weight: bold;
}
#inputGroup-sizing-sm, #inputGroup-sizing-default {
    background-color: rgba(255, 255, 255,1);
    border-right: none;
    width: 40px;
    z-index: 1;
}
.scroll{
    overflow-y: scroll !important;
}
.sigma{
    height: 65vh;
    background: linear-gradient(rgba(255, 255, 255,.7),rgba(255, 255, 255,.7)),url(static/background/s5hehiscswz.jpg);
    background: -webkit-linear-gradient(rgba(255, 255, 255,.7),rgba(255, 255, 255,.7)),url(static/background/s5hehiscswz.jpg);
    background: -moz-linear-gradient(rgba(255, 255, 255,.7),rgba(255, 255, 255,.7)),url(static/background/s5hehiscswz.jpg);
    background: -o-linear-gradient(rgba(255, 255, 255,.7),rgba(255, 255, 255,.7)),url(static/background/s5hehiscswz.jpg);    
}
@media (max-height: 540px){
    .sigma{
        height: 40vh;
    }
}
.gama{
    background: linear-gradient(rgba(255, 255, 255,.7),rgba(255, 255, 255,.7)),url(static/background/s5hehiscswz.jpg);
    background: -webkit-linear-gradient(rgba(255, 255, 255,.7),rgba(255, 255, 255,.7)),url(static/background/s5hehiscswz.jpg);
    background: -moz-linear-gradient(rgba(255, 255, 255,.7),rgba(255, 255, 255,.7)),url(static/background/s5hehiscswz.jpg);
    background: -o-linear-gradient(rgba(255, 255, 255,.7),rgba(255, 255, 255,.7)),url(static/background/s5hehiscswz.jpg);    
    border-bottom: .2px solid rgba(0, 0, 0,.5);
}
.col-4{
    background: linear-gradient(rgba(255, 255, 255,.7),rgba(255, 255, 255,.7)),url(static/background/s5hehiscswz.jpg);
    background: -webkit-linear-gradient(rgba(255, 255, 255,.7),rgba(255, 255, 255,.7)),url(static/background/s5hehiscswz.jpg);
    background: -moz-linear-gradient(rgba(255, 255, 255,.7),rgba(255, 255, 255,.7)),url(static/background/s5hehiscswz.jpg);
    background: -o-linear-gradient(rgba(255, 255, 255,.7),rgba(255, 255, 255,.7)),url(static/background/s5hehiscswz.jpg);    
}
.lambda{
    background-size: cover !important;
    background-position: center !important;
    height: 4vw;
    width: 4vw;
}
.picture1{
    background: url(static/A1.jpg);
}
.picture2{
    background: url(static/A2.jpg);
}
.picture3{
    background: url(static/A3.jpg);
}
.picture4{
    background: url(static/A4.jpg);
}
.picture5{
    background: url(static/A5.jpg);
}
.picture6{
    background: url(static/A6.jpg);
}
.picture7{
    background: url(static/A7.jpg);
}
.picture8{
    background: url(static/A8.jpg);
}
.baboon{
    height: 80vh !important;
}
@media (max-height: 900px){
    .baboon{
        height: 40vh;
    }
}
.Anushka{
    width: auto;
}